{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique Française{% endblock %}

{% block content %}

    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <small><a href="/admin">Accéder au BackOffice</a></small> <br>
    {% endif %}
    Bienvenue {{ (app.user.firstname) }} dans votre compte
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="account-item text-center">
            <img src="{{ asset('assets/img/lock.png') }}" alt="Modifier mon mot de passe">
                <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
            <img src="{{ asset('assets/img/home.png') }}" alt="Gérer mes adresses">
                <a href="{{ path('account_address') }}">Gérer mes adresses</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
            <img src="{{ asset('assets/img/shopping-bag.png') }}" alt="Mes commandes">
                <a href="{{ path('account_order') }}">Mes commandes</a>
            </div>
        </div>
    </div>

{% endblock %}
